*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222831;
}
.container{
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    width: 100%;
    height: 64px;
    border: 1px solid rgba(179, 143, 91, 0.653);
    background-color: #111720;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Roboto;
}

.player-area{
    margin: 10px;
    display: flex;
    gap: 6px;
}
button{
    width: 260px;
    height: 260px;
    color: rgb(0, 0, 0);
    font-size: 64px;
    border-radius: 50px;
    font-weight: 600;
    background-color: rgb(73, 73, 73);
    border: 2px solid rgb(143, 143, 10);
}
button:hover{
    background-color: rgb(118, 118, 118);
}

.computer-area{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:16px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 32px;
    font-family: Roboto;
}